@font-face {
    font-family: 'Mabry pro';
    src: url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/6171b3abf4abd818c2515f2c_mabry-regular-pro.woff2') format('woff2'), url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/6171b3aba26b9ae49be96139_mabry-regular-pro.eot') format('embedded-opentype'), url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/6171b3aba8c2d7bc694cef2e_mabry-regular-pro.woff') format('woff'), url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/6171b3ab65f29c7fe7f7e217_mabry-regular-pro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Mabry pro';
    src: url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/6171b3f64203450a992e8fff_mabry-italic-pro.woff2') format('woff2'), url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/6171b3f69d6586dfbce06e04_mabry-italic-pro.eot') format('embedded-opentype'), url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/6171b3f6b96fa30334405206_mabry-italic-pro.woff') format('woff'), url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/6171b3f61c1eeea12dd739b2_mabry-italic-pro.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Mabry pro';
    src: url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/6171b40ceff055603bfd142a_mabry-medium-pro.woff2') format('woff2'), url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/6171b40be5c8aa42b72c3e17_mabry-medium-pro.eot') format('embedded-opentype'), url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/6171b40bbaed2a934dd78d0b_mabry-medium-pro.woff') format('woff'), url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/6171b40bf71ab8f3f498553f_mabry-medium-pro.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Mabry pro';
    src: url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/6171b4176f6b57e0c2377881_mabry-medium-italic-pro.woff2') format('woff2'), url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/6171b41779fc014a20c07800_mabry-medium-italic-pro.eot') format('embedded-opentype'), url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/6171b4171c1eee28e7d739bf_mabry-medium-italic-pro.woff') format('woff'), url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/6171b4172cd19ce84212b74b_mabry-medium-italic-pro.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Mabry pro';
    src: url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/619a81246e0527dc0827a328_mabry-bold-pro.woff2') format('woff2'), url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/619a81241893d6b3b7bd369f_mabry-bold-pro.eot') format('embedded-opentype'), url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/619a8124011badbe3378d3ec_mabry-bold-pro.woff') format('woff'), url('https://assets.website-files.com/6171b265e5c8aa59b42c3472/619a8124b521b2552243da5d_mabry-bold-pro.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }